body, html
{
	height: 100%;
	background-image: url('../Images/image_1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.parallax
{
	height: 100%;
	background-repeat: no-repeat;
}
@media only screen and (max-device-width: 1366px)
{
	.parallax
	{
		background-attachment: scroll;
	}
}
.topnav
{
	overflow: hidden;
	background-color: black;
	border: 4px solid green;
	border-radius: 5px;
}
.topnav a
{
	float: right;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover
{
	background-color: green;
	color: white;
	border-radius: 2px;
}
.topnav a.active
{
	background-color: green;
	color: white;
}
.center
{
	background-color: #303030;
	width: 400px;
	border: 12px solid green;
	padding: 30px;
	margin-top: 70px;
	margin-bottom: 0px;
	margin-right: 150px;
	margin-left: 80px;
	font-size: 20px;	
	border-radius: 5px;
	position: relative;
}
.button
{
	border: 2px solid green;
	color: white;
	height:40px;
	width:400px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: auto;
	cursor: pointer;
	background-color: black;
	transition-duration: 0.4s;
}
.button:hover
{
	background-color: green;
	color: white;
}