index1.html
about.html
assets/Images/IMG_20200303_170419.jpg
assets/Images/IMG_20200303_170437.jpg
assets/Images/IMG_20200303_165546.jpg
assets/Images/franklins.png
assets/Images/image.jpg
assets/Images/image_1.jpg
assets/Images/image_2.jpg
assets/Images/image_3.jpg
assets/CSS/experience_stylesheet.css
assets/CSS/contact_stylesheet.css
assets/CSS/projects_stylesheet.css
assets/CSS/stylesheet.css
assets/CSS/topnav_stylesheet.css
assets/CSS/about_stylesheet.css
