.contact {
    display: flex;
    justify-content: center;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 150%;
    color: #fff;
}


.icons {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.github {
    content: url('https://github.githubassets.com/favicons/favicon-dark.svg');
    width: 5%;
    display: inline;
    margin-left: 13%;
    margin-right: auto;
    transition: transform 0.25s ease;
}

.twitter {
    content: url('../Icons/Twitter.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.mail {
    content: url('../Icons/Gmail.svg');
    width: 6%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.stackoverflow {
    content: url('../Icons/Stackoverflow.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.linkedin {
    content: url('../Icons/Linkedin.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.facebook {
    content: url('../Icons/Facebook.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.instagram {
    content: url('../Icons/Instagram.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.reddit {
    content: url('../Icons/Reddit.svg');
    width: 5%;
    display: inline;
    margin: auto;
    transition: transform 0.25s ease;
}

.discord {
    content: url('../Icons/Discord.svg');
    width: 5%;
    display: inline;
    margin-right: 13%;
    margin-left: auto;
    transition: transform 0.25s ease;
}

.github:hover,
.twitter:hover,
.mail:hover,
.stackoverflow:hover,
.linkedin:hover,
.facebook:hover,
.instagram:hover,
.reddit:hover,
.discord:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 10px 10px 5px #000000;
    -moz-box-shadow: 0px 10px 5px #000000;
    -webkit-box-shadow: 0px 10px 5px #000000;
	border-radius: 5px;
}