body, html {
	height: 100%;
	top: 0%;
	margin: 0%;
	background-image: url('../Images/image_1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

* {
	box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 120rem;
}

.parallax {
	height: 100%;
	background-repeat: no-repeat;
}

@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	}
}

.bg-image {
    height: 100%;
    top: 0%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url('../Images/image_3.jpg');
}

.center {
	background-color: #303030;
	width: 500px;
	border: 12px solid green;
	padding: 30px;
	margin-top: 70px;
	margin-bottom: 0px;
	margin-right: 150px;
	margin-left: 80px;
	font-size: 20px;	
	border-radius: 5px;
	position:static;
}

.button {
	border: 2px solid green;
	color: white;
	height:40px;
	width:400px;	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: auto;
	cursor: pointer;
	background-color: black;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: green;
	color: white;
}