body, html {
	height: 100%;
	top: 0%;
	margin: 0%;
	/*background-color: rgb(70, 70, 70);
	background-image: url('../Images/image_1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;*/
}

* {
	box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 120rem;
}

.background {
	background: linear-gradient(-45deg, #7873f5, #ec77ab, #537895, #09203f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.parallax {
	height: 110%;
	background-repeat: no-repeat;
}

@media only screen and (max-device-width: 600px) {
	.parallax {
		background-attachment: scroll;
	}
	body {
		width: 100%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.parallax.background1 {
	background: #032424;
	background-size: 400% 400%;
}

.parallax.background2 {
	background: #750530;
	background-size: 400% 400%;
}

.parallax.background3 {
	background: #024244;
	background-size: 400% 400%;
}

.parallax.background4 {
	background: #470149;
	background-size: 400% 400%;
}

.parallax.background5 {
	background: #00234b;
	background-size: 400% 400%;
}

.bg-image {
    height: 100%;
    top: 0%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
.img1 {
    background-image: url('../Images/image_3.jpg');
}
*/
.center {
	background-color: #303030;
	width: 500px;
	border: 12px solid green;
	padding: 30px;
	margin-top: 70px;
	margin-bottom: 0px;
	margin-right: 150px;
	margin-left: 80px;
	font-size: 20px;
	border-radius: 5px;
	position:static;
}

/* Designing home */

.home_design {
	margin-top: 20%;
	margin-left: 20%;
	/*padding-left: 2%;
	padding-top: 0.1%;
	padding-bottom: 0.1%;*/
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 200%;
	color: black;
	/*background-color: black;*/
}

.home_design_1 {
	margin-top: 5%;
	margin-left: 20%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 100%;
	color: black;
	/*background-color: black;*/
}

.home_design_2 {
	margin-top: 5%;
	margin-left: 50%;
	font-size: 150%;
	color: black;
}

/* bounce button */

.button {
  	height: 50px;
  	width: 50px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin-left: 53%;
	margin-top: 0%;
	cursor: pointer;
	transition-duration: 0.4s;
	border: 2px solid black;
	border-radius: 50%;
}

.button:hover {
	background-color: black;
	color: white;
}

.animated {
	margin-left: 51%;
	margin-right: 45%;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce:hover {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

/* Designing About */

.about_design1 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 100%;
	color: #fff;
	margin-left: 5%;
}